body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
::selection {
  color: #fff;
  background: #aa0000;
}

header {
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

section {
    background-color: #fff;
    width: 650px;
/*    length: 500px;*/
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


img {
  display: block;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 3px dotted #aa0000;  
    transition: border-bottom 0.3s ease;
    font-weight: bold;
  }

a:hover {
    color: #aa0000;
    border-bottom: 3px solid #aa0000; 
}
img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}


footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

footer a{
    color: #fff;
    text-decoration: none;
    border-bottom: 3px dotted #aa0000;  
    transition: font-weight border-bottom 0.3s ease;
}

footer a:hover{
    color: #aa0000;
    border-bottom: 3px solid #aa0000; 
}
    